.background, .logos-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.logos-container {
	display: table;
	.logos {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		.company {
			margin: 2em;
		}
	}
}