<div
	class="background"
	back-img="{{ background.src }}"
	ng-repeat="background in backgrounds"
	ng-show="selected_background==$index">
</div>

<div class="logos-container">
	<div class="logos">
		<img id="main-logo" src="/images/logo.svg" />
		<div
			class="company"
			ng-repeat="company in companies">
			<a ng-href="{{ company.link }}">
				<img ng-src="{{ company.logo_src }}">
			</a>
		</div>
	</div>
</div>

<div class="controls-container">
	<a ui-sref="rooms">
		<span class="glyphicon glyphicon-calendar"></span>
	</a>
</div>

<div class="credit-container">
	<a href="http://thenounproject.com/term/open-house/10121/" target="_blank">The open house icon is made by Alden Lowney</a>
</div>